.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.error {
  color: #ff4d4d;
  font-size: 12px;
  margin-left: 16px;
}

.mt-2 {
  margin-top: 12px;
}

.mt-3 {
  margin-top: 16px;
}
