<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar Sesión 
      </ion-button>
    </ion-buttons>
    <ion-title>Pagina de Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col 
        size="6" size-md="4" size-lg="3"
        *ngFor="let lectura of lecturas"
        (click)="abrirDetalle(lectura)"
      >
        <ion-card>
          <img [src]="lectura.foto_url" />
          <ion-card-content>
            <p>Medidor: {{ lectura.medidor_codigo }}</p>
            <small>{{ lectura.created_at | date:'short' }}</small>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
